<mat-card class="satisfaction-check-card">
    <form [formGroup]="satisfactionCheckForm" class="satisfaction-check-form-container">
        <mat-card-content class="satisfaction-check-card-content">
            <mat-icon class="satisfaction-check-card-content-icon" aria-hidden="true">info_outline</mat-icon>
            <div class="satisfaction-check-card-content-text">
                <span class="satisfaction-check-card-content-text-title"> {{'BienPassé' | translate}}</span>
                <span class="satisfaction-check-card-content-text-sub">  {{'VotreAvis' | translate}} </span>
            </div>
            <div class="satisfaction-check-faces">
                <div class="satisfaction-check-faces-icon-wrapper dissatisfied"
                    [ngClass]="selectedFace === 'dissatisfied' ? 'selected' : ''" (click)="selectFace('dissatisfied')">
                    <mat-icon class="satisfaction-check-faces-icon" aria-hidden="true">sentiment_dissatisfied</mat-icon>
                    <span class="satisfaction-check-faces-text">  {{'Pas bien' | translate}} </span>
                </div>
                <div class="satisfaction-check-faces-icon-wrapper neutral"
                    [ngClass]="selectedFace === 'neutral' ? 'selected' : ''" (click)="selectFace('neutral')">
                    <mat-icon class="satisfaction-check-faces-icon" aria-hidden="true">sentiment_neutral</mat-icon>
                    <span class="satisfaction-check-faces-text"> {{'Moyen' | translate}} </span>
                </div>
                <div class="satisfaction-check-faces-icon-wrapper satisfied"
                    [ngClass]="selectedFace === 'satisfied' ? 'selected' : ''" (click)="selectFace('satisfied')">
                    <mat-icon class="satisfaction-check-faces-icon" aria-hidden="true">sentiment_satisfied</mat-icon>
                    <span class="satisfaction-check-faces-text"> {{'Très bien' | translate}} </span>
                </div>
            </div>
            <div class="satisfaction-check-form-group">
                <mat-form-field>
                    <mat-label> {{'Message' | translate}} </mat-label>
                    <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput
                        placeholder="(Facultatif)" formControlName="message" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions class="satisfaction-check-card-actions">
            <button type="submit" [disabled]="selectedFace === '' || !satisfactionCheckForm.valid" mat-raised-button
                class="satisfaction-check-card-actions-btn" (click)="validateForm()"> {{'Envoyer' | translate}}</button>
        </mat-card-actions>
    </form>
</mat-card>
