<div class="admin-wrapper">
  <mat-card class="admin-card">
    <mat-card-header class="admin-card-header" *ngIf="transfers">
      <mat-card-title>
        <h2  *ngIf="!fileInfos?.expired">{{'Administration' | translate}}</h2>
        <h2  *ngIf="fileInfos?.expired">{{'Historique' | translate}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="admin-card-content">
      <div class="admin-card-content-error" *ngIf="errorMessage">
        <span>{{errorMessage | translate}}</span>
      </div>
      <div class="admin-card-content-infos" *ngIf="fileInfos">
        <div class="subheader">
          <span> {{'Informations_Pli' | translate}}</span>
        </div>
        <mat-list role="list">
          <ng-container *ngIf="!(fileInfos?.recipientsMails.length != 0 || fileInfos?.deletedRecipients.length != 0)">
            <mat-list-item role="listitem"><span>{{'Nombre_Téléchargements' |
                translate}}{{fileInfos.downloadCount}}</span>
            </mat-list-item>
          </ng-container>
          <mat-list-item role="listitem"><span>{{'Emetteur' | translate}} {{fileInfos.senderEmail}}</span>
          </mat-list-item>
          <mat-list-item role="listitem"><span>{{'Object' | translate}} {{fileInfos.subject}}</span>
          </mat-list-item>
          <mat-list-item role="listitem"><span>{{'Message' | translate}} {{fileInfos.message}}</span></mat-list-item>
          <mat-list-item role="listitem"><span>{{'Date_Emission' | translate}}

              <!-- {{fileInfos.timestamp | date: 'medium'}} -->
              {{selectedDate | date: 'medium': '' : translate.currentLang}}
            </span>
          </mat-list-item>
          <mat-list-item  *ngIf="!fileInfos?.expired" role="listitem"><span>{{'Date_Fin_Validité' | translate}} {{fileInfos.validUntilDate | date:
              'medium': '' : translate.currentLang}}</span>
            <mat-form-field  style="width:1px;visibility:hidden;">
              <input matInput [matDatepicker]="picker" [formControl]="validUntilDate" [min]="minDate" [max]="maxDate">
              <mat-datepicker #picker (closed)="onPickerClose()"></mat-datepicker>
            </mat-form-field>
            <mat-icon matTooltip="{{'Modification_Date_Fin_Validité' | translate}}" (click)="picker.open()"
              attr.aria-label="{{'Modification_Date_Fin_Validité' | translate}}">edit
            </mat-icon>
          </mat-list-item>

          <mat-list-item  *ngIf="fileInfos?.expired && fileInfos.archiveUntilDate != '2000-01-31'" role="listitem"><span>{{'Date_Archive' | translate}} {{fileInfos.archiveUntilDate | date:
            'medium': '' : translate.currentLang}}</span>
          </mat-list-item>

          <mat-list-item  *ngIf="!fileInfos?.expired" role="listitem" class="delete"><span>{{'Archiver_pli' | translate}}</span>
            <mat-icon  matTooltip="{{'Archiver_pli' | translate}}" (click)="deleteFile()"
            attr.aria-label="{{'Archiver_pli' | translate}}">archive
          </mat-icon>
          </mat-list-item>
          <div *ngIf="fileInfos?.recipientsMails.length != 0 || fileInfos?.deletedRecipients.length != 0">
            <div class="admin-card-content-files">
              <div class="subheader respientHeader">
                <span>{{'Destinataires' | translate}} </span>
                <mat-icon *ngIf="!fileInfos?.expired && !add" matTooltip="{{'Ajout_Destinataire' | translate}}"
                  style="color: black;cursor: pointer;" (click)="addRecipient()"
                  attr.aria-label="{{'Ajout_Destinataire' | translate}}">add_box</mat-icon>
                <mat-icon *ngIf="!fileInfos?.expired && close" matTooltip="{{'Terminer' | translate}}" style="color: black;cursor: pointer;"
                  (click)="addRecipient()" attr.aria-label="{{'Terminer' | translate}}">close</mat-icon>
              </div>
            </div>
            <div *ngIf="add" class="addDestinataire" [ngClass]="errorValidEmail || errorEmail ? 'big-error' : ''">
              <form [formGroup]="envelopeDestForm" class="addForm">
                <mat-form-field class="full-width">
                  <mat-label>{{'Courriel_Destinataire' | translate}}</mat-label>
                  <input id="recipientmail" name="recipientmail" formControlName="email" type="email" matInput
                    placeholder="JEAN.DUPONT@EMAIL.COM" #dest (blur)="onBlurDestinataires();"
                    (keyup.enter)="dest.blur();">
                  <mat-error role="alert" *ngIf="envelopeDestForm.controls.email.errors?.emailError">
                    {{'AdresseRequis' | translate}}
                  </mat-error>
                  <mat-error role="alert" *ngIf="envelopeDestForm.controls.email.errors?.emailNotValid">
                    {{'ExpéditeurNécessaire' | translate}}
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
          </div>
          <mat-list-item role="listitem" class="delete"
            *ngFor="let dest of fileInfos?.recipientsMails; let index = index">
            <ng-container *ngIf="!isMobile">
              <mat-accordion>
                <mat-expansion-panel [disabled]="dest.numberOfDownloadPerRecipient == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="overflow-clip">
                      <span class="recipient-mail">{{dest.recipientMail}}</span>
                      <span
                        [ngClass]="dest.numberOfDownloadPerRecipient == 0 ? 'padding-count' : 'down-count'">{{dest.numberOfDownloadPerRecipient}}&nbsp;{{'Téléchargement'
                        | translate}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <span class="down-count float-dates">{{'Dates-telechargement' | translate}}</span>
                  <div class="flex-dates">
                    <span class="down-count" *ngFor="let date of toArray(dest.downloadDates)">
                      <!-- {{date}}  -->
                      {{date.value | date: 'shortDate': '' : translate.currentLang}}
                      {{'time' | translate}}
                        {{date.value | date: "HH:mm:ss": '' : translate.currentLang}}
                    </span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>

            <ng-container *ngIf="isMobile">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="overflow-clip">
                      <span class="recipient-mail">{{dest.recipientMail}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="flex-dates">
                    <span>{{dest.numberOfDownloadPerRecipient}}&nbsp;{{'Téléchargement' | translate}}</span>
                    <ng-container *ngIf="dest.numberOfDownloadPerRecipient > 0">
                      <br>
                      <span>{{'Dates de téléchargement :' | translate}}</span>
                      <span *ngFor="let date of toArray(dest.downloadDates)">
                        {{date}}</span>
                    </ng-container>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
            <mat-icon *ngIf="!fileInfos?.expired" matTooltip="{{'Renvoyer_Lien_Téléchargement' | translate}}"
              (click)="resendLink(dest.recipientMail)" attr.aria-label="{{'Renvoyer_Lien_Téléchargement' | translate}}">
              email</mat-icon>
            <mat-icon *ngIf="!fileInfos?.expired" matTooltip="{{'Supprimer_Destinataire' | translate}}" (click)="deleteRecipient(index, dest)"
              attr.aria-label="{{'Supprimer_Destinataire' | translate}}">delete
            </mat-icon>
          </mat-list-item>



          <mat-list-item role="listitem" class="delete"
            *ngFor="let dest of fileInfos?.deletedRecipients; let index = index">

            <ng-container *ngIf="!isMobile">
              <mat-accordion>
                <mat-expansion-panel [disabled]="dest.numberOfDownloadPerRecipient == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="overflow-clip deleted">
                      <span class="recipient-mail">{{dest.recipientMail}}</span>
                      <span
                        [ngClass]="dest.numberOfDownloadPerRecipient == 0 ? 'padding-count' : 'down-count'">{{dest.numberOfDownloadPerRecipient}}&nbsp;{{'Téléchargement'
                        | translate}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <span class="down-count float-dates">{{'Dates de téléchargement :' | translate}}</span>
                  <div class="flex-dates">
                    <span class="down-count" *ngFor="let date of toArray(dest.downloadDates)">
                      {{date}}</span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>


            <ng-container *ngIf="isMobile">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="overflow-clip deleted">
                      <span class="recipient-mail">{{dest.recipientMail}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="flex-dates">
                    <span>{{dest.numberOfDownloadPerRecipient}}&nbsp;{{'Téléchargement' | translate}}</span>
                    <ng-container *ngIf="dest.numberOfDownloadPerRecipient > 0">
                      <br>
                      <span>{{'Dates de téléchargement :' | translate}}</span>
                      <span *ngFor="let date of toArray(dest.downloadDates)">
                        {{date}}</span>
                    </ng-container>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="admin-card-content-files " *ngIf="fileInfos">
        <div class="subheader">
          <span>{{'Éléments_Pli' | translate}}</span>
        </div>
        <ft-file-item class="file-item" *ngFor="let transfer of transfers" [transfer]="transfer" [readOnly]="true">
        </ft-file-item>
      </div>
    </mat-card-content>
    <mat-card-actions class="admin-card-actions" *ngIf="fileInfos">
      <button *ngIf="(fileInfos?.recipientsMails.length != 0 || fileInfos?.deletedRecipients.length != 0)" type="button" mat-raised-button class="admin-card-actions-btn"
          (click)="DupliquerDestinataires()">{{'Dupliquer-destinataires' | translate}}</button>
      <button type="button" mat-raised-button class="admin-card-actions-btn"
          (click)="previousPage()">{{'Retour' | translate}}</button>
      </mat-card-actions>
  </mat-card>
</div>
