.plis-recu {
  margin-top: 2em;
  .end-message-card-actions {
    margin: 24px auto;
    .end-message-card-actions-btn {
      background-color: var(--ft-blue-france);
      color: var(--ft-white);
    }
  }

  .center-vertical {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  .error-message {
    display: flex;
    font-size: larger;
    font-weight: bold;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--ft-error);
  }

  mat-cell > span.truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  mat-cell > span.truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .overflow-ellipsis {
    text-overflow: ellipsis;
    width: 100px;
  }

  .overflow-clip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  @media screen and (min-width: 640px) {
    // .overflow-clip {
    //   text-overflow: ellipsis;
    //   width: 90%;
    //   padding: 0.2em 0;
    //   overflow: auto;
    // }

    .mat-width {
      width: 112%;
    }

    .mat-row {
      max-height: 25vh;
    }

    .mat-column-objet {
      flex-basis: 7.1rem;
      flex-grow: 2;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-expediteur {
      flex-basis: 2.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-dateReception {
      flex-basis: 2.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-expediteur {
      flex-basis: 2.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-dateReception {
      flex-basis: 2.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-dateEnvoi {
      flex-grow: 0;
      flex-basis: 5.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-finValidite {
      flex-grow: 0;
      flex-basis: 13rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-type {
      flex-grow: 0;
      flex-basis: 3.5rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-taille {
      flex-grow: 0;
      flex-basis: 8rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-token {
      flex-basis: 3rem;
    }
  }

  @media screen and (min-width: 640px) and (max-width: 790px) {
    .mat-column-token {
      flex-basis: 3.5rem;
    }
    .mat-column-dateReception {
      flex-grow: 0;
      flex-basis: 5.1rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .mat-column-finValidite {
      flex-grow: 0;
      flex-basis: 7rem;
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 640px) {
    .mat-table {
      border: 0;
      vertical-align: middle;
    }

    .mat-table caption {
      font-size: 1em;
    }

    // Enable this to hide header
    .mat-table .mat-header-cell {
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .mat-table .mat-header-row {
      min-height: 0px;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: flex;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
      padding-left: 24px;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      margin-right: auto;
      //text-transform: uppercase;
      font-weight: normal;
      font-size: 0.85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }
}
