@media screen and (min-width: 812px) {
  .upload-root-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    .upload-title-card {
      margin-top: 20px;
      .upload-title-card-content {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
      }
    }
    .upload-wrapper {
      width: 100%;
      max-height: 100%;
      height: 49.3rem;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-justify-content: center;
      -webkit-align-items: center;

      .list-elements-wrapper {
        height: 88%;
        width: 35%;
        margin-right: 2.5%;
      }

      .envelope-wrapper {
        height: 88%;
        width: 35%;
        margin-left: 2.5%;
      }

      .loader-wrapper {
        height: 80%;
        width: 35%;
      }

      .check-validation-code-wrapper {
        height: 80%;
        width: 35%;
      }

      .end-message-wrapper {
        height: 80%;
        width: 35%;
        margin-right: 2.5%;
      }

      .satisfaction-check-wrapper {
        height: 80%;
        width: 35%;
        margin-left: 2.5%;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 812px) {
  .upload-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    .list-elements-wrapper {
      height: 50%;
      width: 80%;
      margin-top: 30px;
    }

    .envelope-wrapper {
      margin-top: 80px;
      height: 50%;
      width: 80%;
    }

    .check-validation-code-wrapper {
      height: 60%;
      width: 60%;
    }

    .end-message-wrapper {
      height: 60%;
      width: 45%;
      margin-right: 2.5%;
    }

    .satisfaction-check-wrapper {
      height: 60%;
      width: 45%;
      margin-left: 2.5%;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .upload-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    -webkit-align-self: center;
    margin-top: 90px;

    .list-elements-wrapper {
      width: 100%;
      height: 100%;
    }

    .list-elements-wrapper.reduced {
      width: 100%;
      height: 20%;
    }

    .list-elements-wrapper.expanded {
      width: 100%;
      height: 100%;
    }

    .envelope-wrapper {
      width: 100%;
    }

    .check-validation-code-wrapper {
      height: calc(100vh - 100px);
      width: 100%;
    }

    .loader-wrapper {
      height: calc(100vh - 100px);
      width: 100%;
    }

    .end-message-wrapper {
      width: 100%;
      height: 50%;
    }

    .satisfaction-check-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

::ng-deep {
  .mat-snack-bar-container {
    padding: 0px !important;
    background-color: #ffffff;
    color: #0a0a0a;
    border-color: #40a02b;
    border-style: solid;
  }
  .file-exist {
    border-color: blue !important;
  }
  .panel-success {
    border-color: #40a02b !important;
  }
}
